/* style */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

/* html {
    height: 100%;
} */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fda349;

    /* background-image: url("../images/extra_clean_paper.png"); */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0260a4;
    top: 0;
    width: 100%;
    height: 100px;
}

li {
    float: right;
}

li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fda349;    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: #ff9a94;    
  }


p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fda349;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    color: #ff9a94;
}

.h1Name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    color: #ff9a94;
    padding: 30px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.my-card {
    width: 700px;
    height: 600px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 70px;
    color: #ff9a94;

}

.my-button {
    width: 400px;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fda349;
    border: 4px solid #494949
}

.my-button:hover {
    color: #ffffff;
    background: #fda349;
    border-color: #fda349;
    transition: all 0.4s ease 0s;
}

.img__wrap {
    position: relative;
    height: 260px;
    width: 260px;
    overflow: hidden;
    float: left;
    margin: 10px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d14db2;
    color: #d8fd30;
    text-align: center;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    opacity: 1;
  }

.footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: #ff9a94;
    color: #d14db2;
    text-align: center;
    width: 100%;
    height: 90px;
}

@media screen and (max-width: 768px) {
  
    .wrapper {
      width: 100%;
      padding: 20px;
    }

    ul {
      clear: both;
    }

    main {
        margin-bottom: 30px;
        clear: both;
    }

    p {
        font-size: 20px;
        /* text-align: left; */

    }

    body {
        font-size: 20px;

    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #ff9a94;
    }

    .container {
        padding-top: 20px;
        padding-bottom: 100px;
      }
    
  
      .my-card {
        padding-top: 80px;
    }
    li a {
        font-size: 20px;
    }
    
    img {
        height: 60%;
    }

  
  }

  @media screen and (max-width: 640px) {
  
    .wrapper {
      width: 100%;
      padding: 20px;
    }

    #page-name {
      position: static;
      width: 100%;
      }

    ul {
      clear: both;
    }

    main {
      margin-bottom: 30px;
      clear: both;
    }

    p {
        font-size: 20px;
        /* text-align: left; */
    }

    body {
        font-size: 20px;

    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #ff9a94;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 100px;
    }
    
    .my-card {
        padding-top: 80px;
    }
    li a {
        font-size: 20px;
    }    

    img {
        height: 50px;
    }


  }